<template name="InserProjectForm">
    <div class="cover cover-sm">
        <div class="content">
            <h1>Add a Project</h1>
        </div>
    </div>
    <div class="container">
        <div class="row m-t-lg">
            <div class="col-md-6 col-md-offset-3">
                {{> quickForm 
                    collection="Projects" 
                    id="insertProjectForm" 
                    type="method"
                    meteormethod="insertProject"
                }}
            </div>
        </div>
    </div>
</template>