<template name="Projects">
    <div class="cover">
        <div class="content">
            <h1>Discover Inspirational Works</h1>
            <a href="" class="btn btn-success btn-add-project m-t-md">Add a Project</a>
        </div>
    </div>

    {{> filterBarPeople}}
    
    <div class="container text-center">
        <div class="row m-t-lg">
            
             <div class="grid" data-isotope='{ "itemSelector": ".grid-item", "layoutMode": "fitRows" }'>                                                       
                {{#each projects}}
                    <div class="grid-item">{{> ProjectCard }} </div>                  
                {{/each}}
                                     
                <!-- <div class="grid-item">{{> WorkCard }}</div>                        
                <div class="grid-item">{{> WorkCard2 }}</div>                        
                <div class="grid-item">{{> WorkCard }}</div>                        
                <div class="grid-item">{{> WorkCard2 }}</div>                        
                <div class="grid-item">{{> WorkCard }}</div>                        
                <div class="grid-item">{{> WorkCard }}</div>                        
                <div class="grid-item">{{> WorkCard2 }}</div>                        
                <div class="grid-item">{{> WorkCard }}</div>                        
                <div class="grid-item">{{> WorkCard2 }}</div>                          -->
            </div>                     
        </div>
        
        <script>
            setTimeout(function(){
                $('.grid').isotope({
                    // options...
                    itemSelector: '.grid-item',
                    masonry: {
                        columnWidth: 10
                    }
                });
            }, 500);
        </script>

    </div>
</template>

<template name="ProjectCard">
    <div class="work-item">
        <div class="work-images">
            <img src="img/project1.jpg" alt="">
            <div class="work-item-content">
                <div class="parent">
                    <div class="child-cell">
                        <h4 class="modal-title">{{title}}</h4>
                        <p>by <a href="">{{userId}}</a> <span class="gloomy"><small>on {{createdAt}}</small></span></p>
                        <p>{{description}}</p>
                        <p>{{categories}}</p>
                        <p>{{tags}}</p>
                    </div>
                </div>
                
            </div>
        </div>
        
        <div class="work-item-footer">
            <table class="tabs">
                <tr>
                    <td><a href=""><i class="fa fa-heart"></i>5565</a></td>
                    <td><a href=""><i class="fa fa-eye"></i>1212</a></td>
                    <td><a href=""><i class="fa fa-share-alt"></i></a></td>
                </tr>
            </table>
        </div>

    </div>
</template>


<template name="WorkCard">
    <div class="work-item">
        <div class="work-images">                
            <img src="img/project1.jpg" alt="">
            <div class="work-item-content">
                <div class="parent">
                    <div class="child-cell">
                        <h4 class="modal-title">Project Title</h4>
                        <p>by <a href="">username</a> <span class="gloomy"><small>on July 7, 2017</small></span></p>
                    </div>
                </div>
                
            </div>
        </div>
        
        <div class="work-item-footer">
            <table class="tabs">
                <tr>
                    <td><a href=""><i class="fa fa-heart"></i>5565</a></td>
                    <td><a href=""><i class="fa fa-eye"></i>1212</a></td>
                    <td><a href=""><i class="fa fa-share-alt"></i></a></td>
                </tr>
            </table>
        </div>

    </div>
</template>

<template name="WorkCard2">
    <div class="work-item">
        <div class="work-images">                
            <img src="img/project2.png" alt="">
            <div class="work-item-content">
                <div class="parent">
                    <div class="child-cell">
                        <h4 class="modal-title">Project Title</h4>
                        <p>by <a href="">username</a> <span class="gloomy"><small>on July 7, 2017</small></span></p>
                    </div>
                </div>
                
            </div>
        </div>
        
        <div class="work-item-footer">
            <table class="tabs">
                <tr>
                    <td><a href=""><i class="fa fa-heart"></i>5565</a></td>
                    <td><a href=""><i class="fa fa-eye"></i>1212</a></td>
                    <td><a href=""><i class="fa fa-share-alt"></i></a></td>
                </tr>
            </table>
        </div>

    </div>
</template>