<template name="Projects">
    <div class="cover">
        <div class="content">
            <h1>Discover Inspirational Works</h1>
        </div>
    </div>
    <div class="container">
        <div class="row m-t-lg">
            <div class="col-md-12">
                <div class="works">
                    <div class="row">
                        <div class="col-md-3">
                            {{> WorkCard }}                            
                        </div>
                        <div class="col-md-3">
                            {{> WorkCard }}                            
                        </div>
                        <div class="col-md-3">
                            {{> WorkCard }}                            
                        </div>
                        <div class="col-md-3">
                            {{> WorkCard }}                            
                        </div>
                        <div class="col-md-3">
                            {{> WorkCard }}                            
                        </div>
                        <div class="col-md-3">
                            {{> WorkCard }}                            
                        </div>
                        <div class="col-md-3">
                            {{> WorkCard }}                            
                        </div>
                        <div class="col-md-3">
                            {{> WorkCard }}                            
                        </div>
                        <div class="col-md-3">
                            {{> WorkCard }}                            
                        </div>
                        <div class="col-md-3">
                            {{> WorkCard }}                            
                        </div>
                        <div class="col-md-3">
                            {{> WorkCard }}                            
                        </div>
                        <div class="col-md-3">
                            {{> WorkCard }}                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
    </div>
</template>


<template name="WorkCard">
    <div class="work-item">
        <div class="work-images">                
            <img src="img/project1.jpg" alt="">
            <div class="work-item-content">
                <div class="parent">
                    <div class="child-cell">
                        <a href=""><h5><strong>Inspiration of Gambling</strong></h5></a>
                        <p><small>#technology #music #entrepreneurship</small></p>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. 
                            Vero ipsa adipisci id dolores....</p>
                    </div>
                </div>
                
            </div>
        </div>
        
        <div class="work-item-footer">
            <table class="tabs">
                <tr>
                    <td><a href=""><i class="fa fa-heart"></i>5565</a></td>
                    <td><a href=""><i class="fa fa-eye"></i>1212</a></td>
                    <td><a href=""><i class="fa fa-share-alt"></i></a></td>
                </tr>
            </table>
        </div>

    </div>
</template>