<template name="Notification">
    <div class="message-wrapper">
        <div class="modal fade notification">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title">Notifications</h4>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="notification-list">
                                    <ul>
                                        <li>
                                            <div class="user-info pull-left m-r-sm">
                                                <img class="profile-pic" src="img/user.jpg" alt="" width="48px" height="48px">
                                            </div>
                                            <p><strong>Suffian</strong> Added a new project</p>
                                            <small class="gloomy">about an hour ago</small>
                                        </li>
                                        <li>
                                            <div class="user-info pull-left m-r-sm">
                                                <img class="profile-pic" src="img/user.jpg" alt="" width="48px" height="48px">
                                            </div>
                                            <p><strong>Suffian</strong> likes a project</p>
                                            <small class="gloomy">about an hour ago</small>
                                        </li>
                                        <li>
                                            <div class="user-info pull-left m-r-sm">
                                                <img class="profile-pic" src="img/user.jpg" alt="" width="48px" height="48px">
                                            </div>
                                            <p><strong>Suffian</strong> connected with <strong>Ahmed</strong> </p>
                                            <small class="gloomy">about an hour ago</small>
                                        </li>
                                        <li>
                                            <div class="user-info pull-left m-r-sm">
                                                <img class="profile-pic" src="img/user.jpg" alt="" width="48px" height="48px">
                                            </div>
                                            <p><strong>Suffian</strong> Added a new project</p>
                                            <small class="gloomy">about an hour ago</small>
                                        </li>
                                        <li>
                                            <div class="user-info pull-left m-r-sm">
                                                <img class="profile-pic" src="img/user.jpg" alt="" width="48px" height="48px">
                                            </div>
                                            <p><strong>Suffian</strong> likes a project</p>
                                            <small class="gloomy">about an hour ago</small>
                                        </li>
                                        <li>
                                            <div class="user-info pull-left m-r-sm">
                                                <img class="profile-pic" src="img/user.jpg" alt="" width="48px" height="48px">
                                            </div>
                                            <p><strong>Suffian</strong> connected with <strong>Ahmed</strong> </p>
                                            <small class="gloomy">about an hour ago</small>
                                        </li>
                                        <li>
                                            <div class="user-info pull-left m-r-sm">
                                                <img class="profile-pic" src="img/user.jpg" alt="" width="48px" height="48px">
                                            </div>
                                            <p><strong>Suffian</strong> Added a new project</p>
                                            <small class="gloomy">about an hour ago</small>
                                        </li>
                                        <li>
                                            <div class="user-info pull-left m-r-sm">
                                                <img class="profile-pic" src="img/user.jpg" alt="" width="48px" height="48px">
                                            </div>
                                            <p><strong>Suffian</strong> likes a project</p>
                                            <small class="gloomy">about an hour ago</small>
                                        </li>
                                        <li>
                                            <div class="user-info pull-left m-r-sm">
                                                <img class="profile-pic" src="img/user.jpg" alt="" width="48px" height="48px">
                                            </div>
                                            <p><strong>Suffian</strong> connected with <strong>Ahmed</strong> </p>
                                            <small class="gloomy">about an hour ago</small>
                                        </li>
                                        
                                    </ul> 
                                </div>                                                               
                            </div>                           
                        </div>
                    </div>                    
                </div>
            </div>
        </div>
    </div>
</template>