<template name="Notification">
    <div class="message-wrapper">

        <div class="modal fade">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title">Notifications</h4>
                    </div>
                    <div class="modal-body">
                        <div class="row p-a-md">
                            <div class="col-md-12">
                                <ul>
                                    <li>
                                        <div class="user-info pull-left m-r-sm">
                                            <img class="profile-pic" src="img/user.jpg" alt="" width="48px" height="48px">
                                        </div>
                                        <p>by <a href="">username</a> <span class="gloomy"><small>on July 7, 2017</small></span></p>
                                    </li>
                                    <li>
                                        <div class="user-info pull-left m-r-sm">
                                            <img class="profile-pic" src="img/user.jpg" alt="" width="48px" height="48px">
                                        </div>
                                        <p>by <a href="">username</a> <span class="gloomy"><small>on July 7, 2017</small></span></p>
                                    </li>
                                    <li>
                                        <div class="user-info pull-left m-r-sm">
                                            <img class="profile-pic" src="img/user.jpg" alt="" width="48px" height="48px">
                                        </div>
                                        <p>by <a href="">username</a> <span class="gloomy"><small>on July 7, 2017</small></span></p>
                                    </li>
                                    <li>
                                        <div class="user-info pull-left m-r-sm">
                                            <img class="profile-pic" src="img/user.jpg" alt="" width="48px" height="48px">
                                        </div>
                                        <p>by <a href="">username</a> <span class="gloomy"><small>on July 7, 2017</small></span></p>
                                    </li>
                                </ul>                                
                            </div>                           
                        </div>
                    </div>                    
                </div>
            </div>
        </div>

    </div>
</template>