<template name="EditProfileForm">
    <div class="cover cover-sm">
        <div class="content">
            <h1>Update You Profile</h1>
        </div>
    </div>
    <div class="container">
        <div class="row m-t-lg">
            <div class="col-md-6 col-md-offset-3">
                {{> quickForm 
                    collection="Profile" 
                    id="updateProfileForm" 
                    type="method"
                    meteormethod="updateProfile"
                }}
            </div>
        </div>
    </div>
</template>