<template name="EditProfileForm">
    <div class="cover cover-sm">
        <div class="content">
            <h1>Update You Profile</h1>
        </div>
    </div>
    <div class="container">
        <div class="row m-a-md">
            <div class="col-md-6 col-md-offset-3">
                {{#with profile}}
                <form action="" id="update-profile">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="firstname">First Name</label>
                                <input type="text" class="form-control required" name="firstName" id="firstname" value="{{firstName}}" placeholder="Enter First Name">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="lastname">Last Name</label>
                                <input type="text" class="form-control required" name="lastName" id="lastname" value="{{lastName}}" placeholder="Enter Last Name">
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="occupation">Occupation</label>
                        <input type="text" class="form-control required" name="occupation" id="occupation" value="{{occupation}}" placeholder="Enter Occupation">
                    </div>
                    <div class="form-group">
                        <label for="location">Location</label>
                        <input type="text" class="form-control required" name="location" id="location" value="{{location}}" placeholder="Enter Location">
                    </div>
                    <div class="form-group">
                        <label for="skills">Skills</label>
                        <input type="text" class="form-control required" name="skills" id="skills" value="{{skills}}" placeholder="Enter Skills">
                    </div>
                    <div class="form-group">
                        <label for="about">About</label>
                        <textarea class="form-control required" name="about" id="about" cols="30" rows="3" value="{{about}}" placeholder="Enter brief about yourself"></textarea>
                    </div>

                    <div class="form-group">
                        <label for="facebook">Facebook Link</label>
                        <input type="text" class="form-control" name="" id="facebook" value="{{facebook}}" placeholder="Enter your Facbook profile link">
                    </div>
                    <div class="form-group">
                        <label for="google">Google Link</label>
                        <input type="text" class="form-control" name="google" id="google" value="{{google}}" placeholder="Enter your Goolge profile link">
                    </div>
                    <div class="form-group">
                        <label for="linkedin">Linkedin Link</label>
                        <input type="text" class="form-control" name="linkedin" id="linkedin" value="{{linkedin}}" placeholder="Enter your Linkedin profile link">
                    </div>
                    <div class="form-group">
                        <label for="youtube">Youtube Link</label>
                        <input type="text" class="form-control" name="youtube" id="youtube" value="{{youtube}}" placeholder="Enter your Youtube link">
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn btn-primary btn-block">Update Profile</button>
                    </div>                    
                </form>
                {{/with}}	
            </div>
        </div>
    </div>
</template>
