<template name="UserProfile">
    <div class="user-profile">
         {{#with profile}} 
        <section class="header">
            {{> CoverPhoto}}
            {{> Avatar}}
            <div class="user-full-name">
                <h3 class="text-shaddow">{{firstName}} {{lastName}}</h3>
                
            </div>
            <div class="edit-profile-button">
                {{#if currentUser}}   
                    <a href="{{pathFor 'editProfile'}}" class="btn btn-success">Edit Profile</a>
                {{/if}}
            </div>
        </section>
        <section class="main-content">
            <section class="user-passport-wrapper">
                <!-- <div class="add-profile-button text-center">
                    <a href="{{pathFor 'editProfile'}}" class="btn btn-success">Update Info</a>
                </div> -->
                <div class="passport-content p-a-sm">
                    <div class="text-center p-a-md p-t-0 p-b-sm">
                        <strong>{{occupation}}</strong><br>
                        <small>{{location}}</small>    
                    </div>
                    <hr>
                    <div class="info m-t-md m-t-0">
                        <p><strong>ABOUT</strong></p>                        
                        <div class="bio m-b-sm">
                            <p>{{about}}</p></div>
                        <hr>
                        <div class="skills m-b-sm">
                            <p><strong>SKILLS</strong></p>
                            <ul class="list-inline skill-tag">
                                <li><a href="">Arhitecture</a></li>
                                <li><a href="">Drawing</a></li>
                                <li><a href="">Sketch</a></li>
                                <li><a href="">Painting</a></li>
                                <li><a href="">Photography</a></li>
                                <li><a href="">3D Modeling</a></li>
                                <li><a href="">Animation</a></li>
                                <li><a href="">Autocad</a></li>
                                <li><a href="">3ds Max</a></li>
                                <li><a href="">V-Ray</a></li>
                            </ul>
                        </div>
                        <hr>
                        <ul class="list-inline ct social">
                            {{#if facebook}}
                                <li><a href="{{facebook}}"><i class="fa fa-facebook"></i></a></li>
                            {{/if}}
                            {{#if google}}                            
                                <li><a href="{{google}}"><i class="fa fa-google"></i></a></li>
                            {{/if}}
                            {{#if linkedin}}                            
                                <li><a href="{{linkedin}}"><i class="fa fa-linkedin"></i></a></li>
                            {{/if}}
                            {{#if youtube}}                                                        
                                <li><a href="{{youtube}}"><i class="fa fa-youtube"></i></a></li>
                            {{/if}}
                        </ul>
                    </div>
                </div>
            </section>
            <section class="portfolio-wrapper">
                <div class="add-profile-button text-center">
                    <a class="btn btn-success filestack">Add Portfolio</a>
                </div>
            </section>
        </section>
         {{/with}} 
    </div>
</template>

<template name="Avatar">
    <div class="avatar">
        <a href="" class="btn btn-block inc">Edit</a>        
         <img src="{{image1}}" class="upload-avatar filestack" alt=""> 
        {{> editYourAvatarModal}}
        <!--<div class="upload-avatar">
            <a href="" class="btn-upload-avatar filestack">Upload Avatar</a>        
        </div>-->
    </div>
</template>


<template name="CoverPhoto">
    <div class="upload-cover-photo">
        <a href="" class="btn-upload-cover-photo"><i class="fa fa-camera fa-md m-r-sm"></i>Upload Cover Photo</a>
    </div>
</template>