<template name="UserProfile">
    <div class="user-profile">
        <section class="header">
            <div class="avatar">
                <img src="img/profile-pic-1.jpg" alt="">
            </div>
            <div class="user-full-name">
                <!--<h3 class="text-shaddow">SUFFIAN SAWRI ABIR</h3>-->
                
            </div>
            <div class="edit-profile-button">
                {{#if currentUser}}   
                    <a href="{{pathFor 'editProfile'}}" class="btn btn-success">Edit Profile</a>
                {{/if}}
            </div>
        </section>
        <section class="main-content">
            <section class="user-passport-wrapper">
                <div class="add-profile-button text-center">
                    <button class="btn btn-success">Update Info</button>
                </div>
                <div class="passport-content p-a-sm">
                    
                </div>
                <!--<div class="update-info-button text-center">
                    <button class="btn btn-danger">Update Info</button>
                </div>-->
            </section>
            <section class="portfolio-wrapper">
                <div class="add-profile-button text-center">
                    <button class="btn btn-success">Add Portfolio</button>
                </div>
            </section>
        </section>
    </div>
</template>