.btn-large{
    width: 180px;
    font-size: 16px;
}

.cover-sm{
    height: 180px !important;
}

.gloomy{
    color: #777;
}

.p-b-sm{
    padding-bottom: 15px !important;
}

.m-a-lg{
    margin: 50px;
}

.o-h{
    overflow: hidden;
}

.m-b-lg{
    margin-bottom: 100px;
}

.fsp-picker__footer--visible, body>div>div.fsp-picker.fsp-picker--active>div.fsp-picker__footer.fsp-picker__footer--visible{
    display: none;
}