.btn-large{
    width: 250px;
    font-size: 18px;
}

.cover-sm{
    height: 180px !important;
}

.gloomy{
    color: #777;
}

.p-b-sm{
    padding-bottom: 15px !important;
}

.m-a-lg{
    margin: 50px;
}