/* CSS declarations go here */

@import url('https://fonts.googleapis.com/css?family=Open+Sans:300');

body {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    line-height: 1.43;
    color: #484848;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    font-family: 'Open Sans', sans-serif;    
    font-weight: 100;
}

a{
    transition: .5s;
    text-decoration: none !important;
}

.text-shaddow{
    text-shadow: 1px 1px #000;
}

.text-md{
    font-size: 18px;
}


.btn-success:hover{
    background-color: #2b5163;
}


.btn-primary {
    color: #ffffff;
    background-color: #2b5163;
    border: none !important;
}

.wrapper{
    margin-top: 50px;
}

a:hover{
    text-decoration: none !important;
}

img.greyscale{
    filter: grayscale(.6);
    -webkit-filter: grayscale(.6);
    transition: .5s;    
}

img.greyscale:hover{
    filter: grayscale(0);
    -webkit-filter: grayscale(0);    
}

a.disabled{
    color: gray;
    pointer-events: none;
}

.site-footer{
    color: #ddd;
}

.social-icons{
    padding: 50px 0 25px;
}

.social-icons li a{
    color: #ccc;
}

.social-icons li a:hover{
    color: #fff;
}

/*================Navbar =====================*/

.navbar.navbar-lp{
    /*background-color:transparent;
    top: 30px;    */
}

.navbar{
    /*margin-top: 50px;*/
    background-color:#373e4c;
    border: none;
    margin-bottom: 0;
    padding-right: 25px;
    z-index: 999;
    border-radius: 0;
    /* opacity: .7; */
}

.navbar .navbar-nav > li > a{
    padding: 19.5px 24px;
    color: #ddd;
}

.navbar .navbar-nav > li > a:hover{
    background: transparent;
    color: #fff;
}

.navbar-brand {
    padding: 19.5px 17.5px;
    /*border-right: 1px solid #dce0e0;   */
    /*height: 59px; */
}

.navbar-brand img{
    margin-top: -3px;
    width: 90%;
}

.navbar-right.navbar-nav > li > a {
    padding: 19.5px 18px;
    color: #ddd;
}

.user-menu{
    margin-top: 8px;
    margin-left: 10px;
}

.user-menu .profile-pic{
    width: 32px;
    height: 32px;
    border-radius: 50%;
    margin-top: 6px;
}

.dropdown-toggle{
    color: #ddd;
}

.btn-group{
    margin-top: 20px;
    background-color: transparent;
}

.btn-group:hover{
    cursor: pointer;
}

.nav .open > a, .nav .open > a:hover, .nav .open > a:focus {
    border-color: transparent;
    background-color: transparent;
}

.btn-group a{
    color: #ddd;
}

.btn-group a:hover > i{
    color: #ddd;
}

.dropdown-menu i{
    color: #006884;
}

.navbar-right span.count{
    position: absolute;
    background-color: red;
    color: #ddd;
    padding: 3px;
    border-radius: 3px;
    top: 10px;
    left: 25px;
    font-size: 9px;   
}

.nav > li > a:hover, .nav > li > a:focus{
    background: transparent !important;
    outline: 0 !important;
}

.menu-icon-text{
    position: absolute;
    left: 11px;
    top: 43px;
    font-size: 12px;
}

/*===============Section 1r=====================*/

.section-1{
    background: url('img/section-1.png');
    /*position: absolute;*/
    /*left: -1px;*/
    /*top: 0;*/
    width: 100%;
    height: 100vh;
    display: table;
    margin-top: -60px;
}

.section-1 .content{
    display: table-cell;
    vertical-align: middle;
    color: #ddd;
}

.description-text{
    font-size: 24px;
    line-height: 30px;
}


.overlay{
    background-color: #000;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: .8;
    z-index: 99;
}

.section{
    padding: 50px 0;
    display: table;
    width: 100%;
}

.section-2{
    background-color: #f4f4f4;
    padding-top: 80px; 
    padding-bottom: 80px; 
}

.section-3{
    background-color: #ececec;
    padding-top: 80px; 
    padding-bottom: 80px; 
}

.section img{
    background-color: #f4f4f4;
    width: 100%;
}


.section-heading{
    position: relative;
}

.section-heading:after{
    content: " ";
    width: 60px;
    border: 2px solid #2b5163;
    position: absolute;
    bottom: -25px;   
    left: 47%;     
}

.pro-cards{

}

.pro-cards ul li{
    width: 230px;
    height: 120px;
    background-color: #ececec;
    margin-bottom: 3px;
    text-align: center;
    padding: 0;
    box-shadow: 0 0 5px 5px #f4f4f4;
    border-radius: 5px;
}


.pro-cards ul li a{
    display: block;
    padding: 50px;
    transition: .5s;
    color: #777;
}

.pro-cards ul li a:hover{
    background-color: #333;
    color: #ddd;
    cursor: pointer;
}

.pro-cards ul li a.c1:hover{
    background-color: #7b3232;
    color: #ddd;
}

.pro-cards ul li a.c2:hover{
    background-color: #462d73;
    color: #ddd;
}

.pro-cards ul li a.c3:hover{
    background-color: #1a7ebd;
    color: #ddd;
}

.pro-cards ul li a.c4:hover{
    background-color: #d87272;
    color: #ddd;
}

.pro-cards ul li a.c5:hover{
    background-color:#3d7911;
    color: #ddd;
}

.pro-cards ul li a.c6:hover{
    background-color: #b71d7e;
    color: #ddd;
}

.pro-cards ul li a.c7:hover{
    background-color: #5badec;
    color: #ddd;
}

.pro-cards ul li a.c8:hover{
    background-color: #3ea93e;
    color: #ddd;
}

.pro-cards ul li a.c9:hover{
    background-color: #a070d2;
    color: #ddd;
}

.pro-cards ul li a.c10:hover{
    background-color: #e2e04e;
    color: #999;
}


.section-6{
    background: url('img/inspiration.png'); 
    width: 100%;
    height: 300px;
    display: table;   
}

.section .content{
    display: table-cell;
    vertical-align: middle;
    color: #ddd;
    text-shadow: 1px 1px #000;
}

.section-8{
    background: url('img/more.jpg'); 
    width: 100%;
    height: 300px;
    display: table;   
}

img.kickstart{
    width: 550px;
}

.site-footer{
    background-color: #111;
    height: 200px;
}


/*================List Wrapper=====================*/


.list-wrapper-inside{
    position: relative;
    /*padding: 0 25px 0 45px;*/
}

/*================List Top Bar=====================*/

.airbnb-list-topbar{
    background-color: #fff;
    border-bottom: 1px solid #dce0e0;     
    color: #767676;
    position: fixed;
    width: 59%;
    left: 0;
    top: 110px;
    padding: 25px 50px;
    z-index: 99;
}


.airbnb-list-topbar .location{
    float: right;
}

@media only screen and (max-width: 990px) {
    .airbnb-list-topbar{
        width: 100%;
        z-index: -1;
    }
    .airbnb-list-topbar .location{
        float: left;
    }
}

/*================List Card=====================*/

.list-card-wrapper{
    background-color: #fff;
    margin-top: 70px;
    padding: 25px 25px 25px 50px;
    z-index: -2;
}

.airbnb-list-card{
    width: 100%;
    margin-bottom: 25px;
}

.airbnb-list-card a{
    color: #000;
}

.airbnb-list-card .slider{
    margin-bottom: 10px;
}

span.badge-rating a{
    color: #FFB400;
    margin-left: 10px;
}

.owl-nav{
    position: absolute;
    top: 40%;
    width: 100%;
    color: #fff;
    font-size: 50px;
}

.owl-prev{
    position: absolute;
    left: 10px;
}

.owl-prev:before{
    content: "\f104";
    font-family: FontAwesome;
    text-shadow: 0 0 2px #333;
    opacity: .7;    
}

.owl-next:before{
    content: "\f105";
    font-family: FontAwesome;
    text-shadow: 0 0 2px #333;
    opacity: .7;    
}

.owl-next{
    position: absolute;
    right: 10px;
}


span.favorite{
    position: absolute;
    top: 10px;
    right: 25px;
    z-index: 9; 
}

span.favorite i{
    color: #fff;
    text-shadow: 0 0 2px #333;
    opacity: .7;
    transition: .9s;       
}

span.favorite > i:hover:before,
span.favorite > i:hover ~ i:before {
   content: "\f004";
   opacity: .8;
   
}


/*================Common=====================*/

.cover{
    display: table;
    width: 100%;
    height: 250px;
    background-color: #777;
    text-align: center;
    color: #ddd;
    text-shadow: 1px 1px #000;
}

.cover .content{
    display: table-cell;
    vertical-align: middle;
    /*background: url('img/inspiration.png');    */
}


/*====================People========================*/

.people-cards-wrapper li{
    list-style: none;
}

.people-card{
    box-shadow: 0px 10px 10px 0px #ddd;
    position: relative;
    padding-bottom: 1px;
}

.people-card .profile-pic{
    padding: 5px;
    width: 180px;
    height: 180px;
    border-radius: 50%;
    overflow: hidden;
    margin-left: 30px;
    margin-top: 10px;
    background-color: #f4f4f4;
}

.profile-pic img{
    padding: 0px;
    width: 100%;
    border-radius: 50%;
}

.people-card .content{
    padding: 25px;
    padding-top: 0;
    padding-bottom: 0;
}

.people-card .content .bio{
    color: #999;
}

.people-card{
    margin-bottom: 15px;
}

.people-card .portfolio-item{
    text-align: center;
    margin-top: -10px;
}

.people-card .portfolio-item li{
    display: inline-block;
    width: 25%;
    /*height: 50px;*/
    /*padding: 25px;*/
    border: 1px solid rgba(0,0,0,.1);
}

.people-card .portfolio-item li img{
    width: 100%;
    height: 100%;
}

.people-filters{
    background-color: #424242;
    padding: 25px;
    color: #ddd;
}

.example-full-width {
  width: 100%;
}

.people-passport{
    background: #f4f4f4;
    text-align: center;
    padding: 25px;
}

.people-card .people-content{
    background: #f4f4f4;
    padding: 25px;    
}

.people-works-card{
    margin-bottom: 15px;
    overflow: hidden;
    padding: 15px;
}

.mat-tab-body-content{
    margin-top: 25px;
}

.job-card{
    margin-bottom: 25px;
}

.mat-tab-header, .mat-tab-nav-bar{
    border-bottom: none;
}




/*Filer Bar*/

.navbar.navbar-filter{
    opacity: 1;
    background-color: #ddd;
    text-align: center;
}

.filter-form{
    margin-top: 8px;
}