
/*================Work Card=====================*/

.grid-item { 
    width: 24%;
    margin-right: 10px;
    margin-bottom: -35px;  
}

.user-profile .grid-item { 
    width: 23%;
}

.works{
    /*margin: 50px 0;*/
}

.work-item{
    box-shadow: 0px 10px 10px 0px #ddd;
    position: relative;
    /*border: 1px solid rgba(0,0,0,.1);*/
}

.work-item-content{
    padding: 20px 40px;
    position: absolute;
    /*display: none;*/
    left: 0;
    top: 0;
    background: #000;
    color: #ddd;
    opacity: 0.8;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: 0.7s;
}

.work-item-content:hover{
    cursor: pointer;
}

.work-item-content .parent{
    display: table;
    width: 100%;
    height: 100%;
}

.work-item-content .child-cell{
    display: table-cell;
    vertical-align: middle;
}


.work-item .work-images:hover > .work-item-content{
    /*display: block;*/
    opacity: 0.9;
}

.work-item-footer{
    background-color: #fff;
}

.work-item-footer table.tabs tr a{
    border:none;
    background-color: #fff;
    border-right: none;
    padding: 10px;
    display: block;
    color: #333;
}

.work-item-footer table.tabs tr a:hover{
    cursor: pointer;
    background-color: #2b5163;
    color: #ddd;
}

.work-item-footer table.tabs tr td:last-child a{
    border-right: none;
}


.work-item .tabs i{
    margin-right: 10px;
}

.work-item .work-images{
    overflow: hidden;
    position: relative;
}

.work-item .work-images img{
    width: 100%;
    height: auto;
}


.work-card-wrapper{
    background-color: #fff;
    margin-top: 70px;
    padding: 25px 25px 25px 50px;
    z-index: -2;
}

.work-card{
    width: 100%;
    margin-bottom: 25px;
}

.work-card a{
    color: #000;
}




.project-details .modal-dialog{
    width: 65%;
}

.project-details .modal-content{
    padding: 50px;
}

.project-details .project-images{
    height: 450px;
    overflow: hidden;
    text-align: center;
}

.project-details .project-images img{
    height: 100%;
    width: auto;
}



.file-upload{
    padding: 25px;
    border: 1px solid rgba(0,0,0,0.1);
    border-radius: 5px;
}


/*Swiper*/
.swiper-container.gallery-top.swiper-container-horizontal .swiper-slide{
    height: 350px;
}

.swiper-container.gallery-thumbs.swiper-container-horizontal .swiper-slide{
    height: 120px;
}

.swiper-container {
        width: 100%;
        height: 300px;
        margin-left: auto;
        margin-right: auto;
    }
    .swiper-slide {
        background-size: cover;
        background-position: center;
    }
    .gallery-top {
        height: 80%;
        width: 100%;
    }
    .gallery-thumbs {
        height: 20%;
        box-sizing: border-box;
        padding: 10px 0;
    }
    .gallery-thumbs .swiper-slide {
        width: 25%;
        height: 100%;
        opacity: 0.4;
    }
    .gallery-thumbs .swiper-slide-active {
        opacity: 1;
    }



    /* Demo styles */
            a {color:#22BCB9;text-decoration:none;}
            .cred{margin-top:20px;font-size:11px;}