.user-profile .main-content{
    position: relative;
}
.user-profile section.header{
    height: 250px;
    width: 100%;
    background-color: #999;
    position: relative;    
}

.user-profile .avatar{
    height: 180px;
    width: 180px;
    border-radius: 50%;
    overflow: hidden;
    padding: 5px;
    background-color: #ddd;
    position: absolute;
    left: 125px;
    bottom: -50px;

}

.user-profile .avatar img{
    width: 100%;
    border-radius: 50%;    
}

.user-full-name{
    position: absolute;
    bottom: 15px;
    left: 325px;
    color: #ddd;
}

.user-profile .edit-profile-button{
    position: absolute;
    right: 100px;
    bottom: 25px;
}

section.user-passport-wrapper{
    position: absolute;
    height: 70vh;
    width: 30%;
    left: 0;
    top: 0;
    padding: 50px;
    display: table;
    /*background-color: #ddd;*/
}

.update-info-button{
    display: table-cell;
    vertical-align: middle;
}

.portfolio-wrapper{
    position: absolute;
    left: 30%;
    top: 0;
    padding: 50px;
    width: 70%;
    height: 70vh;
    background-color: #f4f4f4;
    display: table;
}

.add-profile-button{
    display: table-cell;
    vertical-align: middle;
    width: 100%;
}


/*Edit Profile*/

.badge {
  background-color: #777;
}

.tabs-left { margin-top: 80px; }

.nav-tabs {
  float: left;
  border-bottom: 0;
}

.nav-tabs li {
    float: none;
    margin: 0;
}

.nav-tabs li a {
  margin-right: 0;
  border: 0;
  background-color: #333;
  padding: 25px;
}

.nav-tabs li a:hover {
  background-color: #444;
}
    
.glyphicon {
  color: #ddd;
}

.active .glyphicon {
  color: #333;
}

.nav-tabs>li.active>a, .nav-tabs>li.active>a:hover, .nav-tabs>li.active>a:focus {
  border:0;
  background-color: #f4f4f4;
}

.tab-content {
  margin-left: 45px;
}
.tab-content .tab-pane {
  /*display: none;*/
  background-color: #f4f4f4;
  padding: 1.6rem;
  overflow-y: auto;
}
  
 .tab-content .tab-pane .active { display: block; }


.list-group {
  width: 100%;
}  

.list-group .list-group-item {
    height: 50px;
}    
.list-group .list-group-item h4, span {
  line-height: 11px;
}
  
