<template name="Footer">
    <footer class="site-footer text-center">
        <div class="social-icons">
            <ul class="list-inline">
                <li><a href=""><i class="fa fa-facebook-square fa-2x"></i></a></li>
                <li><a href=""><i class="fa fa-twitter-square fa-2x"></i></a></li>
                <li><a href=""><i class="fa fa-youtube-play fa-2x"></i></a></li>
                <li><a href=""><i class="fa fa-instagram fa-2x"></i></a></li>
            </ul>
        </div>
        <div class="content">
            Copyright 2017 Deepden Inc.
        </div>
    </footer>
</template>