<template name="Home">
    <div class="section-1">
      <div class="content text-center">
        <!--<h1 class="text-shaddow">Are you a Creative mind?</h1>
        <h3 class="text-shaddow"><strong>Deepden</strong> will blow you!</h3>
        <br>-->
        <!--<h1 class="text-shaddow">Are you a creative mind?</h1> -->
        <!--<h2 class="text-shaddow">Let <strong>deepden</strong> blow you!</h2>         -->
        <h2 class="text-shaddow m-t-md description-text">Deepden helps to connect Creative Professionals around <br> the Globe 
          to share their ideas and <br> meeting potential clients.</h2>
        <a data-scroll href="#explore-start" class="btn btn-primary m-t-md btn-large">Explore</a>
      </div>
    </div>

    <div class="section section-2" id="explore-start">
      <div class="container">
        <div class="row text-center">
          <h2 class="section-heading">WHO ARE IN DEEPDEN?</h2>  
        </div>
        <div class="row pro-cards m-t-lgx">
            <ul class="list-inline">
              <li><a class="c1" href="">Artists</a></li>
              <li><a class="c2" href="">Architect</a></li>
              <li><a class="c3" href="">Graphic Artists</a></li>
              <li><a class="c4" href="">UX Designer</a></li>
              <li><a class="c5" href="">Film Maker</a></li>
              <li><a class="c6" href="">Photographer</a></li>
              <li><a class="c7" href="">Musician</a></li>
              <li><a class="c8" href="">Creative Writters</a></li>
              <li><a class="c9" href="">3D Artist</a></li>
              <li><a class="c10" href="">Painter</a></li>
            </ul>
        </div>
        <div class="btn-load-more text-center m-t-md">
          <a href="" class="btn btn-primary btn-large">View All</a>
        </div>

      </div>
    </div> 

    <div class="section section-3">
      <div class="container">
        <div class="row text-center">
          <h2 class="section-heading">DISCOVER INSPIRATIONAL WORKS</h2>            
        </div>
        <div class="row m-t-lgx">
            <div class="grid"
              data-isotope='{ "itemSelector": ".grid-item", "layoutMode": "fitRows" }'>                                                       
              <div class="grid-item">{{> WorkCard }} </div>
              <div class="grid-item">{{> WorkCard2 }}</div>                        
              <div class="grid-item">{{> WorkCard }}</div>                        
              <div class="grid-item">{{> WorkCard2 }}</div>                        
              <div class="grid-item">{{> WorkCard }}</div>                        
              <div class="grid-item">{{> WorkCard2 }}</div>                        
              <div class="grid-item">{{> WorkCard }}</div>                        
              <div class="grid-item">{{> WorkCard }}</div>                        
              <div class="grid-item">{{> WorkCard2 }}</div>                        
              <div class="grid-item">{{> WorkCard }}</div>                        
              <div class="grid-item">{{> WorkCard2 }}</div>                        
          </div>
        </div>

        <script>
            $('.grid').isotope({
                // options...
                itemSelector: '.grid-item',
                masonry: {
                    columnWidth: 10
                }
            });
        </script>

        <div class="btn-load-more text-center m-t-md">
          <a href="{{pathFor 'projects'}}" class="btn btn-primary btn-large">Discover All</a>
        </div>

      </div>
    </div>


    <div class="section section-6">
      <div class="content text-center">
        <h2>Get Inspired</h2>         
      </div>
    </div>

    <div class="section section-4">
      <div class="container">
        <div class="row text-center">
          <h2 class="section-heading">MEET POTENTIAL CLIENTS</h2>  
        </div>
        <div class="jobs-wrapper m-t-lg">
          <div class="row">
              {{> jobItem}}
              {{> jobItem}}
              {{> jobItem}}
              {{> jobItem}}
              {{> jobItem}}
          </div>
        </div> 

        <div class="btn-load-more text-center m-t-md">
          <a href="{{pathFor 'jobs'}}" class="btn btn-primary btn-large">View All</a>
        </div>

      </div>
    </div> 
    
</template>