<template name="Navbar">
    <nav class="navbar"> 
        <div class="container">           
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="{{pathFor 'home'}}"><img src="img/deepden-logo.png" width="33px" alt=""></a>
            </div>        
            <div id="navbar" class="collapse navbar-collapse">
                <ul class="nav navbar-nav">
                    <div class="btn-group btn-discover">
                        <a type="button" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Discover <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a href="{{pathFor 'people'}}"><i class="fa fa-user m-r-sm"></i>  People</a></li>
                            <li><a href="{{pathFor 'brands'}}"><i class="fa fa-briefcase m-r-sm"></i> Brands</a></li>
                            <li><a href="{{pathFor 'projects'}}"><i class="fa fa-briefcase m-r-sm"></i> Projects</a></li>
                            <li><a href="{{pathFor 'products'}}"><i class="fa fa-shopping-cart m-r-sm"></i> Products</a></li>
                            <li><a href="{{pathFor 'jobs'}}"><i class="fa fa-list m-r-sm"></i> Jobs</a></li>
                            <li><a href="{{pathFor 'campaign'}}"><i class="fa fa-paper-plane m-r-sm"></i> Campaign</a></li>
                            <li><a href="{{pathFor 'learning'}}"><i class="fa fa-graduation-cap m-r-sm"></i> Learning</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a href="{{pathFor 'forum'}}"><i class="fa fa-forumbee m-r-sm"></i> Discussion</a></li>
                            <li><a href="{{pathFor 'groups'}}"><i class="fa fa-users m-r-sm"></i> Group</a></li>
                            <li><a href="{{pathFor 'blog'}}"><i class="fa fa-file m-r-sm"></i> Blog</a></li>
                        </ul>
                    </div>
                </ul>                
                <ul class="nav navbar-nav navbar-right">
                    {{#if currentUser}}                    
                        <li class="user-menu">
                            <div class="dropdown">
                                <a href="#" class="dropdown-toggle" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                    <img class="profile-pic" src="img/user.jpg" alt="">
                                    {{#with profile}}
                                        {{name}}
                                    {{/with}}
                                    <i class="fa fa-angle-down"></i>
                                </a>
                                <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                                    <li><a href="{{pathFor 'edit-profile'}}">Edit Profile</a></li>                            
                                    <li><a href="#" class="btn-logout">Logout</a></li>
                                </ul>
                            </div>
                        </li>
                    {{else}}  
                        <li><a href="{{pathFor 'join'}}">Sign Up</a></li>
                        <li><a href="{{pathFor 'signin'}}">Login</a></li>
                    {{/if}}
                </ul>
            </div><!--/.nav-collapse -->
        </div>
    </nav>
</template>


<template name="Navbar_lp">
    <nav class="navbar navbar-lp"> 
        <div class="container">           
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="{{pathFor 'home'}}"><img src="img/deepden-logo.png" width="33px" alt=""></a>
            </div>        
            <div id="navbar" class="collapse navbar-collapse">
                <ul class="nav navbar-nav">
                    <div class="btn-group btn-discover">
                        <a type="button" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Discover <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a href="{{pathFor 'people'}}"><i class="fa fa-user m-r-sm"></i>  People</a></li>
                            <li><a href="{{pathFor 'brands'}}"><i class="fa fa-briefcase m-r-sm"></i> Brands</a></li>
                            <li><a href="{{pathFor 'projects'}}"><i class="fa fa-briefcase m-r-sm"></i> Projects</a></li>
                            <li><a href="{{pathFor 'products'}}"><i class="fa fa-shopping-cart m-r-sm"></i> Products</a></li>
                            <li><a href="{{pathFor 'jobs'}}"><i class="fa fa-list m-r-sm"></i> Jobs</a></li>
                            <li><a href="{{pathFor 'campaign'}}"><i class="fa fa-paper-plane m-r-sm"></i> Campaign</a></li>
                            <li><a href="{{pathFor 'learning'}}"><i class="fa fa-graduation-cap m-r-sm"></i> Learning</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a href="{{pathFor 'forum'}}"><i class="fa fa-forumbee m-r-sm"></i> Discussion</a></li>
                            <li><a href="{{pathFor 'groups'}}"><i class="fa fa-users m-r-sm"></i> Group</a></li>
                            <li><a href="{{pathFor 'blog'}}"><i class="fa fa-file m-r-sm"></i> Blog</a></li>
                        </ul>
                    </div>
                </ul>                
                <ul class="nav navbar-nav navbar-right">
                    {{#if currentUser}}                    
                        <li class="user-menu">
                            <div class="dropdown">
                                <a href="#" class="dropdown-toggle" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                    <img class="profile-pic" src="img/user.jpg" alt="">
                                    {{#with profile}}
                                        {{name}}
                                    {{/with}}
                                    <i class="fa fa-angle-down"></i>
                                </a>
                                <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                                    <li><a href="{{pathFor 'edit-profile'}}">Edit Profile</a></li>                            
                                    <li><a href="#" class="btn-logout">Logout</a></li>
                                </ul>
                            </div>
                        </li>
                    {{else}}  
                        <li><a href="{{pathFor 'join'}}">Sign Up</a></li>
                        <li><a href="{{pathFor 'signin'}}">Login</a></li>
                    {{/if}}
                </ul>
            </div><!--/.nav-collapse -->
        </div>
    </nav>
</template>
