<template name="Navbar">
    <nav class="navbar"> 
        <div class="container">           
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="{{pathFor 'home'}}"><img src="img/deepden-logo2.png" width="33px" alt=""></a>
            </div>        
            <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                     <li class="active"><a href="{{pathFor 'people'}}" data-tooltip="I'm a tooltip!"><i class="fa fa-users fa-md"></i></a>{{ > tooltips }}</li>                     
                    <li><a href="{{pathFor 'brands'}}"><i class="fa fa-briefcase fa-md"></i></a></li>
                    <li><a href="{{pathFor 'projects'}}"><i class="fa fa-file fa-md"></i></a></li>
                    <li><a href="{{pathFor 'jobs'}}"><i class="fa fa-list fa-md"></i></a></li>
                    <li><a href="{{pathFor 'jobs'}}"><i class="fa fa-shopping-bag fa-md"></i></a></li>                    
                    <li><a href="{{pathFor 'jobs'}}"><i class="fa fa-universal-access fa-md"></i></a></li>
                    <li><a href="{{pathFor 'jobs'}}"><i class="fa fa-university fa-md"></i></a></li>
                    <li><a href="{{pathFor 'jobs'}}"><i class="fa fa-ellipsis-h fa-md"></i></a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    {{#if currentUser}}  
                        <li><a href="{{pathFor 'peopleStream'}}"><i class="fa fa-shopping-cart fa-md"></i><span class="count">11</span></a></li>                  
                        <li><a href="{{pathFor 'peopleStream'}}"><i class="fa fa-bandcamp fa-md"></i><span class="count">20+</span></a></li>                  
                        <li><a href="" class="msgModal"><i class="fa fa-envelope fa-md"></i><span class="count">234</span></a></li>                  
                        <li><a href="" class="notificationModal"><i class="fa fa-bell fa-md"></i><span class="count">234</span></a></li>                  
                        <li class="user-menu">
                            <div class="dropdown">
                                <a href="#" class="dropdown-toggle" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                    <img class="profile-pic" src="img/user.jpg" alt="">
                                    {{#with profile}}
                                        {{name}}
                                    {{/with}}
                                </a>
                                <ul class="dropdown-menu" style="margin-top:13px;" aria-labelledby="dropdownMenu1">
                                    <li><a href="{{pathFor 'profile'}}">Profile</a></li>                            
                                    <li><a href="{{pathFor 'edit-profile'}}">Edit Profile</a></li>                            
                                    <li><a href="" class="btn-add-project">Add Project</a></li>                            
                                    <li><a href="#" class="btn-logout">Logout</a></li>
                                </ul>
                            </div>
                        </li>
                    {{else}}  
                        <li><a href="{{pathFor 'join'}}">Sign Up</a></li>
                        <li><a href="{{pathFor 'signin'}}">Login</a></li>
                    {{/if}}
                </ul>
            </div><!--/.nav-collapse -->
            <script>
                $(function () {
                    $('[data-toggle="tooltip"]').tooltip()
                })
            </script>
        </div>
    </nav>
</template>