<template name="Navbar">
    <nav class="navbar"> 
        <div class="container">           
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="{{pathFor 'home'}}"><img src="img/deepden-logo.png" width="33px" alt=""></a>
            </div>        
            <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li class="active"><a href="{{pathFor 'people'}}">People</a></li>
                    <li><a href="{{pathFor 'brands'}}">Brands</a></li>
                    <li><a href="{{pathFor 'projects'}}">Projects</a></li>
                    <li><a href="{{pathFor 'jobs'}}">Jobs</a></li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><i class="fa fa-ellipsis-h"></i></a>
                        <ul class="dropdown-menu">
                            <li><a class="disabled" href="#">Competition</a></li>
                            <li><a class="disabled" href="#">Products</a></li>
                            <li><a class="disabled" href="#">Campaign</a></li>                            
                            <li><a class="disabled" href="#">Learning</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a class="disabled" href="#">Blog</a></li>
                            <li><a class="disabled" href="#">Groups</a></li>                            
                            <li><a class="disabled" href="#">Forum</a></li>
                        </ul>
                    </li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    {{#if currentUser}}  
                        <li><a href=""><i class="fa fa-envelope fa-2x"></i></a></li>                  
                        <li><a href=""><i class="fa fa-bell fa-2x"></i></a></li>                  
                        <li class="user-menu">
                            <div class="dropdown">
                                <a href="#" class="dropdown-toggle" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                    <img class="profile-pic" src="img/user.jpg" alt="">
                                    {{#with profile}}
                                        {{name}}
                                    {{/with}}
                                    <i class="fa fa-angle-down"></i>
                                </a>
                                <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                                    <li><a href="{{pathFor 'profile'}}">Profile</a></li>                            
                                    <li><a href="{{pathFor 'edit-profile'}}">Edit Profile</a></li>                            
                                    <li><a href="#" class="btn-logout">Logout</a></li>
                                </ul>
                            </div>
                        </li>
                    {{else}}  
                        <li><a href="{{pathFor 'join'}}">Sign Up</a></li>
                        <li><a href="{{pathFor 'signin'}}">Login</a></li>
                    {{/if}}
                </ul>
            </div><!--/.nav-collapse -->
        </div>
    </nav>
</template>

