<template name="Professions">
    <ul class="profession-filter">
		<li>
			<input type="checkbox" name="JobIds" id="m(101)" value="101">
			<label for="m(101)">Architects</label>
			<span>(168004)</span>
		</li>
		<li>
			<input type="checkbox" name="JobIds" id="m(107)" value="107">
			<label for="m(107)">Interior designers</label>
			<span>(48637)</span>
		</li>
		<li>
			<input type="checkbox" name="JobIds" id="m(108)" value="108">
			<label for="m(108)">Designers</label>
			<span>(17819)</span>
		</li>
		<li>
			<input type="checkbox" name="JobIds" id="m(105)" value="105">
			<label for="m(105)">Landscapers/Agronomists</label>
			<span>(3175)</span>
		</li>
		<li>
			<input type="checkbox" name="JobIds" id="m(115)" value="115">
			<label for="m(115)">Urban Designers</label>
			<span>(6720)</span>
		</li>
		<li>
			<input type="checkbox" name="JobIds" id="m(100)" value="100">
			<label for="m(100)">Engineers</label>
			<span>(78645)</span>
		</li>
		<li>
			<input type="checkbox" name="JobIds" id="m(142)" value="142">
			<label for="m(142)">Structural engineers</label>
			<span>(5970)</span>
		</li>
		<li>
			<input type="checkbox" name="JobIds" id="m(143)" value="143">
			<label for="m(143)">Building services engineers</label>
			<span>(7548)</span>
		</li>
		<li>
			<input type="checkbox" name="JobIds" id="m(144)" value="144">
			<label for="m(144)">Geotechnical engineers</label>
			<span>(1347)</span>
		</li>
		<li>
			<input type="checkbox" name="JobIds" id="m(104)" value="104">
			<label for="m(104)">Geologists</label>
			<span>(2692)</span>
		</li>

        <li>
            <input type="checkbox" name="JobIds" id="m(102)" value="102">
            <label for="m(102)">Draughtsmen</label>
            <span>(52014)</span>
        </li>
        <li>
            <input type="checkbox" name="JobIds" id="m(103)" value="103">
            <label for="m(103)">Building surveyors</label>
            <span>(14601)</span>
        </li>
        <li>
            <input type="checkbox" name="JobIds" id="m(145)" value="145">
            <label for="m(145)">CAD/BIM designers</label>
            <span>(3365)</span>
        </li>
        <li>
            <input type="checkbox" name="JobIds" id="m(113)" value="113">
            <label for="m(113)">Photographers</label>
            <span>(4505)</span>
        </li>
        <li>
            <input type="checkbox" name="JobIds" id="m(117)" value="117">
            <label for="m(117)">Electricians</label>
            <span>(5089)</span>
        </li>
        <li>
            <input type="checkbox" name="JobIds" id="m(116)" value="116">
            <label for="m(116)">Lighting Technicians</label>
            <span>(739)</span>
        </li>
        <li>
            <input type="checkbox" name="JobIds" id="m(120)" value="120">
            <label for="m(120)">Home Automation Installers</label>
            <span>(611)</span>
        </li>
        <li>
            <input type="checkbox" name="JobIds" id="m(118)" value="118">
            <label for="m(118)">PV/Solar Thermal Installers</label>
            <span>(993)</span>
        </li>
        <li>
            <input type="checkbox" name="JobIds" id="m(119)" value="119">
            <label for="m(119)">HVAC Installers</label>
            <span>(3334)</span>
        </li>
        <li>
            <input type="checkbox" name="JobIds" id="m(126)" value="126">
            <label for="m(126)">Plumbers</label>
            <span>(696)</span>
        </li>
        <li>
            <input type="checkbox" name="JobIds" id="m(134)" value="134">
            <label for="m(134)">Building Contractors</label>
            <span>(26150)</span>
        </li>
        <li>
            <input type="checkbox" name="JobIds" id="m(136)" value="136">
            <label for="m(136)">General Contracting Firms</label>
            <span>(23304)</span>
        </li>
        <li>
            <input type="checkbox" name="JobIds" id="m(146)" value="146">
            <label for="m(146)">Masons</label>
            <span>(1090)</span>
        </li>
        <li>
            <input type="checkbox" name="JobIds" id="m(121)" value="121">
            <label for="m(121)">Drywall installers</label>
            <span>(433)</span>
        </li>
        <li>
            <input type="checkbox" name="JobIds" id="m(122)" value="122">
            <label for="m(122)">Painters</label>
            <span>(977)</span>
        </li>
        <li>
            <input type="checkbox" name="JobIds" id="m(125)" value="125">
            <label for="m(125)">Tilers</label>
            <span>(534)</span>
        </li>
        <li>
            <input type="checkbox" name="JobIds" id="m(130)" value="130">
            <label for="m(130)">Window Fitters</label>
            <span>(1036)</span>
        </li>
        <li>
            <input type="checkbox" name="JobIds" id="m(123)" value="123">
            <label for="m(123)">Carpenters/Cabinet-makers</label>
            <span>(1046)</span>
        </li>
        <li>
            <input type="checkbox" name="JobIds" id="m(124)" value="124">
            <label for="m(124)">Smiths</label>
            <span>(532)</span>
        </li>
        <li>
            <input type="checkbox" name="JobIds" id="m(129)" value="129">
            <label for="m(129)">Hardwood Installers</label>
            <span>(356)</span>
        </li>
        <li>
            <input type="checkbox" name="JobIds" id="m(127)" value="127">
            <label for="m(127)">Glaziers</label>
            <span>(406)</span>
        </li>
        <li>
            <input type="checkbox" name="JobIds" id="m(132)" value="132">
            <label for="m(132)">Marble craftsmen</label>
            <span>(437)</span>
        </li>
        <li>
            <input type="checkbox" name="JobIds" id="m(131)" value="131">
            <label for="m(131)">Upholsterers</label>
            <span>(531)</span>
        </li>
        <li>
            <input type="checkbox" name="JobIds" id="m(128)" value="128">
            <label for="m(128)">Gardeners/Plant nursery workers</label>
            <span>(490)</span>
        </li>
        <li>
            <input type="checkbox" name="JobIds" id="m(150)" value="150">
            <label for="m(150)">Waterproofing contractors</label>
            <span>(38)</span>
        </li>
        <li>
            <input type="checkbox" name="JobIds" id="m(149)" value="149">
            <label for="m(149)">Swimming pool contractors</label>
            <span>(55)</span>
        </li>
        <li>
            <input type="checkbox" name="JobIds" id="m(138)" value="138">
            <label for="m(138)">Service company</label>
            <span>(10975)</span>
        </li>
        <li>
            <input type="checkbox" name="JobIds" id="m(151)" value="151">
            <label for="m(151)">Land reclamation/waste disposal firms</label>
            <span>(49)</span>
        </li>
        <li>
            <input type="checkbox" name="JobIds" id="m(152)" value="152">
            <label for="m(152)">Movers</label>
            <span>(49)</span>
        </li>
        <li>
            <input type="checkbox" name="JobIds" id="m(153)" value="153">
            <label for="m(153)">Home staging</label>
            <span>(169)</span>
        </li>
        <li>
            <input type="checkbox" name="JobIds" id="m(154)" value="154">
            <label for="m(154)">Real Estate agency</label>
            <span>(434)</span>
        </li>
        <li>
            <input type="checkbox" name="JobIds" id="m(147)" value="147">
            <label for="m(147)">Conservators/Restorers</label>
            <span>(878)</span>
        </li>
        <li>
            <input type="checkbox" name="JobIds" id="m(137)" value="137">
            <label for="m(137)">Resellers/Dealers/Agents</label>
            <span>(23522)</span>
        </li>
        <li>
            <input type="checkbox" name="JobIds" id="m(148)" value="148">
            <label for="m(148)">Artists/Craftsmen</label>
            <span>(3168)</span>
        </li>
        <li>
            <input type="checkbox" name="JobIds" id="m(133)" value="133">
            <label for="m(133)">Manufacturers</label>
            <span>(44379)</span>
        </li>
        <li>
            <input type="checkbox" name="JobIds" id="m(135)" value="135">
            <label for="m(135)">Public agency</label>
            <span>(17010)</span>
        </li>
        <li>
            <input type="checkbox" name="JobIds" id="m(106)" value="106">
            <label for="m(106)">Team</label>
            <span>(306591)</span>
        </li>
    </ul>
</template>