<template name="WizardHome">
    <div class="wizard-home wrapper">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-md-offset-3">
                    <h2>Let's help you to build your profile!</h2>
                    <hr>                   
                    <a href="{{pathFor 'brief'}}" type="submit" class="btn btn-block btn-default">Get Started</a>
                </div>
            </div>
        </div>
    </div>
</template>

<template name="Brief">
    <div class="brief wrapper">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-md-offset-3">
                    <h3>Brief about you</h3>
                    <hr>
                    <form>
                        <div class="form-group">
                            <label for="name">Your Name</label>
                            <input type="text" class="form-control" id="name" placeholder="Your Name">
                        </div>
                        <div class="form-group">
                            <label for="occupation">Your occupation</label>
                            <select class="form-control" id="occupation">
                                <option>3D Artist</option>
                                <option>2</option>
                                <option>3</option>
                                <option>4</option>
                                <option>5</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="location">Location</label>
                            <input type="text" class="form-control" id="location" placeholder="Your Location">
                        </div>
                        <div class="form-group">
                            <label for="bio">About You</label>
                            <textarea class="form-control" rows="3" placeholder="About Yourself"></textarea>
                        </div>
                        <div class="form-group">
                            <label for="skills">Skills you know</label>
                            <textarea class="form-control" rows="2" placeholder="Enter few skills you know"></textarea>
                        </div>
                        
                        <a href="{{pathFor 'workExperience'}}" type="submit" class="btn btn-block btn-default">Next</a>
                    </form>
                </div>
            </div>
        </div>
    </div>
</template>

<template name="WorkExperience">
    <div class="work-experience wrapper">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-md-offset-3">
                    <h3>Your Work Experience</h3>
                    <hr>
                    <form>
                        <div class="form-group">
                            <label>Company name</label>
                            <input type="text" class="form-control" id="location" placeholder="Company name">
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>From Year</label>                                
                                    <select class="form-control" id="occupation">
                                        <option>2000</option>
                                        <option>2</option>
                                        <option>3</option>
                                        <option>4</option>
                                        <option>5</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>To Year</label>                                
                                    <select class="form-control" id="occupation">
                                        <option>2000</option>
                                        <option>2</option>
                                        <option>3</option>
                                        <option>4</option>
                                        <option>5</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="role">Your Role</label>
                            <input type="text" class="form-control" id="location" placeholder="Your Role">
                        </div>

                        <a href="{{pathFor 'education'}}" type="submit" class="btn btn-block btn-default">Next</a>                    
                    </form>
                </div>
            </div>
        </div>
    </div>
</template>

<template name="Education">
    <div class="education wrapper">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-md-offset-3">
                    <h3>Your Education</h3>
                    <hr>
                    <form>
                        <div class="form-group">
                            <label>Institute Name</label>
                            <input type="text" class="form-control" id="location" placeholder="Institute name">
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>From Year</label>                                
                                    <select class="form-control" id="occupation">
                                        <option>2000</option>
                                        <option>2</option>
                                        <option>3</option>
                                        <option>4</option>
                                        <option>5</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>To Year</label>                                
                                    <select class="form-control" id="occupation">
                                        <option>2000</option>
                                        <option>2</option>
                                        <option>3</option>
                                        <option>4</option>
                                        <option>5</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="Subject">Subject</label>
                            <input type="text" class="form-control" id="subject" placeholder="Subject">
                        </div>

                        <a href="{{pathFor 'settingsInWizard'}}" type="submit" class="btn btn-block btn-default">Next</a>  
                                          
                    </form>
                </div>
            </div>
        </div>
    </div>
</template>

<template name="SettingsInWizard">
    <div class="wizard-settings wrapper">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-md-offset-3">
                    <h3>Settings you like</h3>
                    <hr>
                    <form>
                        <div class="form-group">
                            <label>Institute Name</label>
                            <input type="text" class="form-control" id="location" placeholder="Institute name">
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>From Year</label>                                
                                    <select class="form-control" id="occupation">
                                        <option>2000</option>
                                        <option>2</option>
                                        <option>3</option>
                                        <option>4</option>
                                        <option>5</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>To Year</label>                                
                                    <select class="form-control" id="occupation">
                                        <option>2000</option>
                                        <option>2</option>
                                        <option>3</option>
                                        <option>4</option>
                                        <option>5</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="Subject">Subject</label>
                            <input type="text" class="form-control" id="subject" placeholder="Subject">
                        </div>

                        <a href="{{pathFor 'profile'}}" type="submit" class="btn btn-block btn-default">Go to Profile</a>                    
                                          
                    </form>
                </div>
            </div>
        </div>
    </div>
</template>