<template name="PeopleFilter">
    <div class="column-filter">

		

		<!-- <section class="locations"> -->
			<!-- <h3 class="titlelist">Location</h3> -->
			<!-- <input placeholder="Enter location" id="searchOptions_LocalityName" name="searchOptions.LocalityName" type="text" value="" class="form-control" autocomplete="off"> -->
					
			<!-- <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
				<div class="panel panel-default">
					<div class="panel-heading" role="tab" id="headingOne">
					<h4 class="panel-title">
						<a role="button" data-toggle="collapse" data-parent="#accordion" href="#europe" aria-expanded="false" aria-controls="europe">
						Europe
						</a>
					</h4>
					</div>
					<div id="europe" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
					<div class="panel-body">
						{{> Europe}}
					</div>
					</div>
				</div>
				<div class="panel panel-default">
					<div class="panel-heading" role="tab" id="headingTwo">
					<h4 class="panel-title">
						<a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#america" aria-expanded="false" aria-controls="collapseTwo">
							America
						</a>
					</h4>
					</div>
					<div id="america" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
					<div class="panel-body">
						{{> America}}
					</div>
					</div>
				</div>
				<div class="panel panel-default">
					<div class="panel-heading" role="tab" id="headingThree">
					<h4 class="panel-title">
						<a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#asia" aria-expanded="false" aria-controls="collapseThree">
						Asia
						</a>
					</h4>
					</div>
					<div id="asia" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
					<div class="panel-body">
						{{> Asia}}
					</div>
					</div>
				</div>
				<div class="panel panel-default">
					<div class="panel-heading" role="tab" id="headingFour">
					<h4 class="panel-title">
						<a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#ocenia" aria-expanded="false" aria-controls="collapseThree">
						Ocenia
						</a>
					</h4>
					</div>
					<div id="ocenia" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
					<div class="panel-body">
						{{> Australia}}
					</div>
					</div>
				</div>
				<div class="panel panel-default">
					<div class="panel-heading" role="tab" id="headingFive">
					<h4 class="panel-title">
						<a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#africa" aria-expanded="false" aria-controls="collapseThree">
						Africa
						</a>
					</h4>
					</div>
					<div id="africa" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
					<div class="panel-body">
						{{> Africa}}
					</div>
				</div>
			</div> -->
		<!-- </div> -->
	<!-- </section> -->

	
	<section class="profession">
		<!-- <h3 class="titlelist">Profession</h3>
		<input placeholder="Search by Profession" id="searchOptions_LocalityName" name="searchOptions.LocalityName" type="text" value="" class="form-control" autocomplete="off">	 -->
		<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
			<div class="panel panel-default">
				<div class="panel-heading" role="tab" id="headingOne">
				<h4 class="panel-title">
					<a role="button" data-toggle="collapse" data-parent="#accordion" href="#profession" aria-expanded="false" aria-controls="collapseOne">
					Profession
					</a>
				</h4>
				</div>
				<div id="profession" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
				<div class="panel-body">
					{{> Professions}}
				</div>
				</div>
			</div>
			<div class="panel panel-default">
				<div class="panel-heading" role="tab" id="headingOne">
					<h4 class="panel-title">
						<a role="button" data-toggle="collapse" data-parent="#accordion" href="#experience" aria-expanded="false" aria-controls="collapseTwo">
						Profession
						</a>
					</h4>
				</div>
				<div id="experience" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
					<div class="panel-body">
						{{> Professions}}
					</div>
				</div>
			</div>
		</div>
	</section>

</div>
	
</template>

<template name="keywordFilter">
	<section class="locations">
		<input placeholder="Enter Keywords" id="" name="" type="text" value="" data-id="search-query" class="form-control">
	</section>
</template>

<template name="locationFilter">
	<section class="locations">
		<input placeholder="Enter location" id="" name="" type="text" value="" class="form-control">
	</section>
</template>

<template name="skillFilter">
	<section class="locations">
		<input placeholder="Enter skills" id="" name="" type="text" value="" class="form-control">
	</section>
</template>
