<template name="People_list">
    <div class="cover">
        <div class="content">
            <h1>Browse and Connect with Creative People</h1>
        </div>
    </div>
    <div class="container">
        <div class="row m-t-lg">
            <!--filter-->
            <div class="col-md-3">
                <div class="form-group">
                    <input type="text" class="form-control" id="exampleInputEmail1" placeholder="Keywords">
                </div>
                <div class="form-group">
                    <input type="text" class="form-control" id="exampleInputPassword1" placeholder="Name">
                </div>
                <div class="form-group">
                    <input type="text" class="form-control" id="exampleInputPassword1" placeholder="Occupation">
                </div>
                <div class="form-group">
                    <input type="text" class="form-control" id="exampleInputPassword1" placeholder="Indsutry">
                </div>
                <div class="form-group">
                    <select class="form-control">
                        <option>Select Country</option>
                        <option>2</option>
                        <option>3</option>
                        <option>4</option>
                        <option>5</option>
                    </select>
                </div>
                <div class="form-group">
                    <input type="text" class="form-control" id="exampleInputPassword1" placeholder="Enter Skills">
                </div>
            </div>
            <!--People List-->
            <div class="col-md-9">
                <div class="row p-a-md p-t-0">
                    <div class="row">
                        <!--card-->
                        <div class="col-md-6">
                            <div class="people-card">                                
                                <div class="profile-pic">
                                    <img class="greyscale" src="img/profile-pic-1.jpg">                                                                                   
                                </div>
                                <div class="content">
                                    <a href="{{pathFor 'people-details'}}"><h1>Jon Doe</h1></a>                
                                    <small>3D Artist, Photographer</small> | 
                                    <small>Dhaka, Bangladesh</small>                                
                                    <p class="bio m-t-sm">
                                    The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
                                    A small, agile dog that.....
                                    </p>
                                    <div class="card-footer m-t-sm">
                                        <a href="" class="btn btn-primary">Follow</a>
                                        <a href="" class="btn btn-primary">Message</a>
                                        <a href="" class="btn btn-primary"><i class="fa fa-ellipsis-h"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--card-->
                        <div class="col-md-6">
                            <div class="people-card">                                
                                <div class="profile-pic">
                                    <img class="greyscale" src="img/profile-pic-2.gif">                                                                                   
                                </div>
                                <div class="content">
                                    <a href="{{pathFor 'people-details'}}"><h1>Jon Doe</h1></a>                
                                    <small>3D Artist, Photographer</small> | 
                                    <small>Dhaka, Bangladesh</small>                                
                                    <p class="bio m-t-sm">
                                    The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
                                    A small, agile dog that.....
                                    </p>
                                    <div class="card-footer m-t-sm">
                                        <a href="" class="btn btn-primary">Follow</a>
                                        <a href="" class="btn btn-primary">Message</a>
                                        <a href="" class="btn btn-primary"><i class="fa fa-ellipsis-h"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--card-->
                        <div class="col-md-6">
                            <div class="people-card">                                
                                <div class="profile-pic">
                                    <img class="greyscale" src="img/profile-pic-3.jpg">                                                                                   
                                </div>
                                <div class="content">
                                    <a href="{{pathFor 'people-details'}}"><h1>Jon Doe</h1></a>                
                                    <small>3D Artist, Photographer</small> | 
                                    <small>Dhaka, Bangladesh</small>                                
                                    <p class="bio m-t-sm">
                                    The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
                                    A small, agile dog that.....
                                    </p>
                                    <div class="card-footer m-t-sm">
                                        <a href="" class="btn btn-primary">Follow</a>
                                        <a href="" class="btn btn-primary">Message</a>
                                        <a href="" class="btn btn-primary"><i class="fa fa-ellipsis-h"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--card-->
                        <div class="col-md-6">
                            <div class="people-card">                                
                                <div class="profile-pic">
                                    <img class="greyscale" src="img/profile-pic-4.jpg">                                                                                   
                                </div>
                                <div class="content">
                                    <a href="{{pathFor 'people-details'}}"><h1>Jon Doe</h1></a>                
                                    <small>3D Artist, Photographer</small> | 
                                    <small>Dhaka, Bangladesh</small>                                
                                    <p class="bio m-t-sm">
                                    The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
                                    A small, agile dog that.....
                                    </p>
                                    <div class="card-footer m-t-sm">
                                        <a href="" class="btn btn-primary">Follow</a>
                                        <a href="" class="btn btn-primary">Message</a>
                                        <a href="" class="btn btn-primary"><i class="fa fa-ellipsis-h"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--card-->
                        <div class="col-md-6">
                            <div class="people-card">                                
                                <div class="profile-pic">
                                    <img class="greyscale" src="img/profile-pic-dummy.jpg">                                                                                   
                                </div>
                                <div class="content">
                                    <a href="{{pathFor 'people-details'}}"><h1>Jon Doe</h1></a>                
                                    <small>3D Artist, Photographer</small> | 
                                    <small>Dhaka, Bangladesh</small>                                
                                    <p class="bio m-t-sm">
                                    The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
                                    A small, agile dog that.....
                                    </p>
                                    <div class="card-footer m-t-sm">
                                        <a href="" class="btn btn-primary">Follow</a>
                                        <a href="" class="btn btn-primary">Message</a>
                                        <a href="" class="btn btn-primary"><i class="fa fa-ellipsis-h"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--card-->
                        <div class="col-md-6">
                            <div class="people-card">                                
                                <div class="profile-pic">
                                    <img class="greyscale" src="img/profile-pic-dummy.jpg">                                                                                   
                                </div>
                                <div class="content">
                                    <a href="{{pathFor 'people-details'}}"><h1>Jon Doe</h1></a>                
                                    <small>3D Artist, Photographer</small> | 
                                    <small>Dhaka, Bangladesh</small>                                
                                    <p class="bio m-t-sm">
                                    The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
                                    A small, agile dog that.....
                                    </p>
                                    <div class="card-footer m-t-sm">
                                        <a href="" class="btn btn-primary">Follow</a>
                                        <a href="" class="btn btn-primary">Message</a>
                                        <a href="" class="btn btn-primary"><i class="fa fa-ellipsis-h"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>                        
                </div>
            </div>
        </div>
    </div>
</template>