<template name="People_list">
    <div class="cover">
        <div class="content">
            <h1>Browse and Connect with Creative People</h1>
        </div>
    </div>
    <div class="container">
        <div class="row m-t-lg">
            <!--People List-->
            <div class="col-md-12">
                <div class="row p-a-md p-t-0">
                    <div class="col-md-3">
                        {{> peopleCard}}
                    </div>
                    <div class="col-md-3">
                        {{> peopleCard}}
                    </div>
                    <div class="col-md-3">
                        {{> peopleCard}}
                    </div>
                    <div class="col-md-3">
                        {{> peopleCard}}
                    </div>
                    <div class="col-md-3">
                        {{> peopleCard}}
                    </div>
                    <div class="col-md-3">
                        {{> peopleCard}}
                    </div>
                    <div class="col-md-3">
                        {{> peopleCard}}
                    </div>
                    <div class="col-md-3">
                        {{> peopleCard}}
                    </div>                                            
                </div>
            </div>
        </div>
    </div>
</template>


<template name="peopleCard">

    <div class="people-card">
        <div class="profile-pic">
            <img class="greyscale" src="img/profile-pic-1.jpg">                                                                                   
        </div>
        <div class="content text-center">
            <a href="{{pathFor 'peopleDetails'}}"><h2>Jon Doe</h2></a>                
            <small>3D Artist, Photographer</small>
            <br>
            <small>Dhaka, Bangladesh</small>              
            <div class="card-footer m-t-sm">
                <a href="" class="btn btn-primary btn-block">View Profile</a>
            </div>
        </div>
        <hr>
        <ul class="list-inline portfolio-item">
            <li><a href=""><img class="greyscale" src="img/project1.jpg"> </a></li>
            <li><a href=""><img class="greyscale" src="img/project1.jpg"> </a></li>
            <li><a href=""><img class="greyscale" src="img/project1.jpg"> </a></li>
        </ul>
    </div>
</template>
