<template name="PeopleStream">
    <div class="stream">
        <div class="container">
            <div class="row">
                <div class="col-md-2">
                    <div class="left-sidebar m-t-md">
                        Sidebar                    
                    </div>
                </div>
                <div class="col-md-8">
                    <div class="stream-wrapper" style="padding-top: 35px;">
                        {{> Stream }}
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="right-sidebar m-t-md">
                        Sidebar                    
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>