<template name="MessageList">
    <div class="message-wrapper">

        <div class="modal fade msg">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title">Messages</h4>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-md-4">
                                <div class="user-list">
                                    <ul>
                                        <li class="o-h">
                                            <div class="user-info pull-left m-r-sm">
                                                <img class="profile-pic" src="img/user.jpg" alt="" width="48px" height="48px">
                                            </div>
                                            <a href="">username</a><br>
                                            <small>Lorem ipsum dolor sit...</small><br>
                                            <small class="gloomy">on July 7, 2017</small>
                                        </li>
                                        <li class="o-h">
                                            <div class="user-info pull-left m-r-sm">
                                                <img class="profile-pic" src="img/user.jpg" alt="" width="48px" height="48px">
                                            </div>
                                            <a href="">username</a><br>
                                            <small>Lorem ipsum dolor sit...</small><br>
                                            <small class="gloomy">on July 7, 2017</small>
                                        </li>
                                        <li class="o-h">
                                            <div class="user-info pull-left m-r-sm">
                                                <img class="profile-pic" src="img/user.jpg" alt="" width="48px" height="48px">
                                            </div>
                                            <a href="">username</a><br>
                                            <small>Lorem ipsum dolor sit...</small><br>
                                            <small class="gloomy">on July 7, 2017</small>
                                        </li>
                                        <li class="o-h">
                                            <div class="user-info pull-left m-r-sm">
                                                <img class="profile-pic" src="img/user.jpg" alt="" width="48px" height="48px">
                                            </div>
                                            <a href="">username</a><br>
                                            <small>Lorem ipsum dolor sit...</small><br>
                                            <small class="gloomy">on July 7, 2017</small>
                                        </li>
                                        <li class="o-h">
                                            <div class="user-info pull-left m-r-sm">
                                                <img class="profile-pic" src="img/user.jpg" alt="" width="48px" height="48px">
                                            </div>
                                            <a href="">username</a><br>
                                            <small>Lorem ipsum dolor sit...</small><br>
                                            <small class="gloomy">on July 7, 2017</small>
                                        </li>
                                        <li class="o-h">
                                            <div class="user-info pull-left m-r-sm">
                                                <img class="profile-pic" src="img/user.jpg" alt="" width="48px" height="48px">
                                            </div>
                                            <a href="">username</a><br>
                                            <small>Lorem ipsum dolor sit...</small><br>
                                            <small class="gloomy">on July 7, 2017</small>
                                        </li>
                                        <li class="o-h">
                                            <div class="user-info pull-left m-r-sm">
                                                <img class="profile-pic" src="img/user.jpg" alt="" width="48px" height="48px">
                                            </div>
                                            <a href="">username</a><br>
                                            <small>Lorem ipsum dolor sit...</small><br>
                                            <small class="gloomy">on July 7, 2017</small>
                                        </li>
                                        <li class="o-h">
                                            <div class="user-info pull-left m-r-sm">
                                                <img class="profile-pic" src="img/user.jpg" alt="" width="48px" height="48px">
                                            </div>
                                            <a href="">username</a><br>
                                            <small>Lorem ipsum dolor sit...</small><br>
                                            <small class="gloomy">on July 7, 2017</small>
                                        </li>
                                        <li class="o-h">
                                            <div class="user-info pull-left m-r-sm">
                                                <img class="profile-pic" src="img/user.jpg" alt="" width="48px" height="48px">
                                            </div>
                                            <a href="">username</a><br>
                                            <small>Lorem ipsum dolor sit...</small><br>
                                            <small class="gloomy">on July 7, 2017</small>
                                        </li>
                                        <li class="o-h">
                                            <div class="user-info pull-left m-r-sm">
                                                <img class="profile-pic" src="img/user.jpg" alt="" width="48px" height="48px">
                                            </div>
                                            <a href="">username</a><br>
                                            <small>Lorem ipsum dolor sit...</small><br>
                                            <small class="gloomy">on July 7, 2017</small>
                                        </li>
                                    </ul>
                                </div>
                                
                            </div>    
                            <div class="col-md-8 p-a-sm">
                                <div class="conversation">
                                    <div class="user-1">
                                        <div class="profile-pic">
                                            <img class="profile-pic" src="img/user.jpg" alt="" width="48px" height="48px">                                                                                                                                                 
                                        </div>
                                        <div class="msg">
                                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Placeat voluptatibus sapiente corrupti laboriosam maxime quae nam dicta, totam facere, esse voluptas odit, officia voluptatum asperiores accusamus doloribus dolorem assumenda tempore?</p>
                                        </div>
                                    </div>
                                    <div class="user-2">
                                        <div class="msg">
                                            <p>Placeat voluptatibus sapiente corrupti laboriosam maxime quae nam dicta, totam facere</p>
                                        </div>
                                    </div>
                                    <div class="user-1">
                                        <div class="profile-pic">
                                            <img class="profile-pic" src="img/user.jpg" alt="" width="48px" height="48px">                                                                                                                                                 
                                        </div>
                                        <div class="msg">
                                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. </p>
                                        </div>
                                    </div>
                                    <div class="user-2">
                                        <div class="msg">
                                            <p>Ok</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="msg-input-box m-t-sm">
                                    <textarea name="" id="" class="form-control" rows="2" placeholder="Share what is in your mind!"></textarea>
                                    <div class="keyboard">
                                        <ul class="list-inline pull-left">
                                            <li><a href=""><i class="fa fa-camera fa-md"></i></a></li>
                                            <li><a href=""><i class="fa fa-smile-o fa-md"></i></a></li>
                                            <li><a href=""><i class="fa fa-tags fa-md"></i></a></li>
                                            <li><a href=""><i class="fa fa-location-arrow fa-md"></i></a></li>
                                        </ul>
                                        
                                    </div>
                                    <div class="input-box-footer">
                                        <a href="" class="btn btn-primary pull-right m-t-sm">Send</a>
                                    </div>
                                </div>
                            </div>                        
                        </div>
                    </div>                    
                </div>
            </div>
        </div>

    </div>
</template>