<template name="Jobs">
    <div class="cover">
        <div class="content">
            <h1>Meeet Potential Clients</h1>
        </div>
    </div>
    <div class="container">
        <div class="row m-t-lg">           
            <div class="col-md-12">
                <div class="row">
                    {{> jobItem}}
                    {{> jobItem}}
                    {{> jobItem}}
                    {{> jobItem}}
                    {{> jobItem}}
                </div>
            </div>
        </div>
        
    </div>
</template>