<template name="Jobs">
    <div class="cover">
        <div class="content">
            <h1>Meeet Potential Clients</h1>
            <a href="{{pathFor 'addJob'}}" class="btn btn-success m-t-md">Post a Job</a>
        </div>
    </div>

    <!-- {{> filterBarProjects}} -->

    <div class="container">
        <div class="row m-t-lg">
            <div class="col-md-3">
                {{> PeopleFilter}}
            </div>           
            <div class="col-md-9">
                <div class="row m-b-lg">
                    {{#each jobs}}
                        {{> jobItem}}
                    {{/each}}
                </div>
            </div>
        </div>
    </div>
</template>


<template name="jobItem">
    <div class="col-md-12 job-item">
      <div class="row">
        <!-- {{#with jobs}} -->
        <div class="col-md-9">
          <div class="title">
            <h4>{{jobTitle}}</h4>
            <p>{{jobRole}}</p>
            <p>{{jobBrief}}</p>    
            <p class="m-t-md">{{location}}</p>                
          </div>
        </div>
        <div class="col-md-3 text-center">
            <a href="{{jobLink}}" class="btn btn-success">View/Apply</a>
        </div>
      </div>
    <!-- {{/with}} -->
    </div>  
</template>